<?xml version='1.0' encoding='utf-8'?>
<widget id="au.com.bundiyarra.BIWM" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>Bundiyarra Midwest Language Map</name>

    <description>
		.
	</description>

    <author email="tech@bundiyarra.com.au" href="http://bundiyarra.com.au">
		Dwayne Smith
	</author>

    <content src="index.html" />

    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="landscape" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="true" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-installLocation" value="auto" />
    
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />

    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="5000" />
    
    <gap:platform name="android" />
    
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.statusbar" />
    <gap:plugin name="com.moust.cordova.videoplayer" />
    
    <icon gap:role="default" src="res/icon.png" />
    <icon density="ldpi" gap:platform="android" gap:qualifier="ldpi" platform="android" src="res/android/icon/ldpi-icon.png" />
    <icon density="mdpi" gap:platform="android" gap:qualifier="mdpi" platform="android" src="res/android/icon/mdpi-icon.png" />
    <icon density="hdpi" gap:platform="android" gap:qualifier="hdpi" platform="android" src="res/android/icon/hdpi-icon.png" />
    <icon density="xhdpi" gap:platform="android" gap:qualifier="xhdpi" platform="android" src="res/android/icon/xhdpi-icon.png" />
    <icon density="xxhdpi" gap:platform="android" gap:qualifier="xxhdpi" platform="android" src="res/android/icon/xxhdpi-icon.png" />
    
    <splash density="port-ldpi" platform="android" src="res/android/screen/port-ldpi-screen.png" />
    <splash density="port-mdpi" platform="android" src="res/android/screen/port-mdpi-screen.png" />
    <splash density="port-hdpi" platform="android" src="res/android/screen/port-hdpi-screen.png" />
    <splash density="port-xhdpi" platform="android" src="res/android/screen/port-xhdpi-screen.png" />
    <splash density="port-xxhdpi" platform="android" src="res/android/screen/port-xxhdpi-screen.png" />
    <splash density="land-ldpi" platform="android" src="res/android/screen/land-ldpi-screen.png" />
    <splash density="land-mdpi" platform="android" src="res/android/screen/land-mdpi-screen.png" />
    <splash density="land-hdpi" platform="android" src="res/android/screen/land-hdpi-screen.png" />
    <splash density="land-xhdpi" platform="android" src="res/android/screen/land-xhdpi-screen.png" />
    <splash density="land-xxhdpi" platform="android" src="res/android/screen/land-xxhdpi-screen.png" />
    
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/android/screen/port-ldpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/android/screen/port-mdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/android/screen/port-hdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/android/screen/port-xhdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xxhdpi" src="res/android/screen/port-xxhdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-ldpi" src="res/android/screen/land-ldpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-mdpi" src="res/android/screen/land-mdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-hdpi" src="res/android/screen/land-hdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-xhdpi" src="res/android/screen/land-xhdpi-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-xxhdpi" src="res/android/screen/land-xxhdpi-screen.png" />
    
    <icon gap:platform="ios" height="57" src="res/ios/icon/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/ios/icon/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/ios/icon/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/ios/icon/icon-72-2x.png" width="144" />
    
    <gap:splash gap:platform="ios" height="480" src="res/ios/screen/screen-iphone.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/ios/screen/screen-iphone-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="res/ios/screen/screen-iphone-568h-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/ios/screen/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="2048" src="res/ios/screen/screen-ipad-portrait-2x.png" width="1536" />
    <gap:splash gap:platform="ios" height="768" src="res/ios/screen/screen-ipad-landscape.png" width="1024" />
    <gap:splash gap:platform="ios" height="1536" src="res/ios/screen/screen-ipad-landscape-2x.png" width="2048" />
    
    <access origin="*" />
    <engine name="android" spec="^4.0.0" />
</widget>
